/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;


    &--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    &--invalid {
        border-color: #fa755a;
    }

    &--webkit-autofill {
        background-color: #fefde5 !important;
    }
}
