/* Toutes les pages */

a:hover {
    text-decoration: initial;
    color: violet;
}

/* Page de profil de la créature */

.header-profil {
    display: flex;
    flex-wrap: nowrap;
}

.header-profil {
    position: relative;
}

.btn-profil li {
    display: inline-block;
    padding: 5px;
}

/* .btn-profil li p {
    position: absolute;
    left: 0;
} */

.btn-profil li button {
    border: none;
    background-color: transparent;
    padding: unset;
}

.card-profil {
    display: flex;
}

.card-body h5 {
    font-weight: bold;
}

.profil-info {
    width: 60%;
}

.profil-subinfo {
    display: flex;
}

.profil-subinfo div {
    width: 50%;
}

.profil-icon {
    width: 40%;
}

.profil-icon img {
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Formulaire de modification de créature */

.types-card-checkbox {
    display: flex;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.types-card-checkbox.type label {
    width: 25%;
}

.types-card-checkbox label {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.types-card-checkbox input {
    margin-top: 2%;
}

.types-card-checkbox label div {
    padding-left: 10px;
}

.update-form-card {
    display: flex;
}

.profil-name {
    margin-top: auto;
    margin-bottom: auto;
}

.link-update-img {
    text-align: center;
}

/* Page Listing creature */

.listing-display {
    
}

.listing-bloc {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.listing-bloc .monster-icon-list {
    width: 85px;
}

.listing-bloc li {
    list-style: none;
    text-align: center;
}

/* .listing-bloc h5 {
    width: 100%;
    margin: auto;
}

.listing-bloc h5 a {
    word-break: break-word;
} */

.list-title-add, .add-list-ul {
    list-style: none;
    display: flex;
    width: 100%;
}

.list-title-add li:first-child, .add-list-ul li:first-child {
    width: 30%;
}

.list-title-add li:not(:first-child), .add-list-ul li:not(:first-child) {
    width: 70%;
}

.list-title-add li a, .add-list-ul li a {
    margin-left: 65%;
}

/* page suppression creature */

.btn-delete-def {
    border: none;
    padding: unset;
    background-color: transparent;
    color: #3490dc;
}

.btn-delete-def:hover {
    color: violet;
    text-decoration: underline;
    border: none;
}


